<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
<div>
  <div>
    <nav class="menu-nav">
      <strong>
        <a class="menu-item" href="#inicio">Inicio</a>
        <a class="menu-item" href="#formacion">Formación</a>
        <a class="menu-item" href="#conocimientos">Conocimientos</a>
        <a class="menu-item" href="#proyectos">Proyectos</a>
        <a class="menu-item" href="#certificados">Certificados</a>
      </strong>
    </nav>
  </div>

  <div class="inicio" id="inicio">
    <h1 class="title">
      Mi Portafolio
    </h1> <br />
    <section class="container mt-20" style="display: flex;">
      <div class="elemento-web">
        <h1 style="margin-top: 80px;" class="container mt-50">Adrian de la Puente Huamaní</h1>
        <p style="font-size: 0.8em; ">Me gusta mucho la tecnología y aprender cosas nuevas cada
          día. En mis tiempos libres me fascina leer y escuchar música.</p>
      </div>
      <div> <img class="perfil" src="perfil.jpg"></div>
    </section>

  </div>
  <div class="formacion" id="formacion">
    <h1 class="title">Formación</h1>
    <section class="container mt-20" style="display: flex;">

      <div style="text-align: center;">
        <h2 class="formacion-a">Primaria</h2> <br />
        <p class="formacion-a">Duración: 2011 - 2013</p>
        <p class="formacion-a"> Colegio: I.E.P Savior King</p>
        <p class="formacion-a">Distrito: Chorrillos</p>
        <p class="formacion-a">Méritos: Primeros Puestos</p> <br />
        <p class="formacion-a">Duración: 2014 - 2016</p>
        <p class="formacion-a"> Colegio: I.E.P.G.P José Joaquín Inclán</p>
        <p class="formacion-a"> Distrito: Chorrillos</p>
        <p class="formacion-a">Méritos: Primeros Puestos </p>
      </div> <br />

      <div style="text-align: center;">
        <h2 class="formacion-a">Secundaria</h2><br />
        <p class="formacion-a">Duración: 2017 - 2021</p>
        <p class="formacion-a"> Colegio: I.E.P.G.P General Emilio Soyer Cabero</p>
        <p class="formacion-a"> Distrito: Chorrillos</p>
        <p class="formacion-a"> Méritos: Primeros Puestos 2017</p>
      </div> <br />
      <div style="text-align: center;">
        <h2 class="formacion-a">Pre Grado</h2> <br />
        <p class="formacion-a">Carrera: Ingeniería de Sistemas</p>
        <p class="formacion-a"> Universidad: Universidad Privada del Norte</p>
        <p class="formacion-a"> Semestre: Séptimo Ciclo Culminado </p>
      </div> <br />
      <div style="text-align: center;">
        <h2 class="formacion-a">Idioma Inglés</h2><br />
        <p class="formacion-a">Duración: 2020 - 2023</p>
        <p class="formacion-a"> Instituto: I.C.P.N.A</p>
        <p class="formacion-a">Nivel: Avanzado Completo</p>
      </div> <br />
    </section>
  </div>
  <div class="conocimientos" id="conocimientos">


    <section class="container mt-20">
      <h1 class="title">Conocimientos</h1>
      <h2>Programas Windows OS</h2>
      <li>CapCut</li>
      <li>Microsoft Word</li>
      <li>Photoshop</li> <br />
      <h2>Experiencia en PC </h2>
      <li>Desarrollo Web</li>
      <li>Configuración de Switches y Routers</li>
    </section>
    <div class="git">
      <div class="elemento-web"> <img
          src="https://static.vecteezy.com/system/resources/previews/055/030/388/non_2x/capcut-circle-icon-logo-symbol-free-png.png">
        <p>CapCut</p>
      </div>
      <div class="elemento-web"> <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Microsoft_Office_Word_%282025%E2%80%93present%29.svg/1990px-Microsoft_Office_Word_%282025%E2%80%93present%29.svg.png">
        <p>Microsoft Word</p>
      </div>
      <div class="elemento-web"> <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/af/Adobe_Photoshop_CC_icon.svg/500px-Adobe_Photoshop_CC_icon.svg.png">
        <p>Photoshop</p>
      </div>
      <div class="elemento-web"> <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Visual_Studio_Code_1.35_icon.svg/1200px-Visual_Studio_Code_1.35_icon.svg.png">
        <p>Visual Studio Code</p>
      </div>
      <div class="elemento-web"> <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/08/Cisco_logo_blue_2016.svg/1200px-Cisco_logo_blue_2016.svg.png">
        <p>Cisco</p>
      </div>
    </div>
  </div>

  <div class="proyectos" id="proyectos">
    <h1 class="title">Proyectos</h1>
    <section class="container mt-20">
      <div class="interfaz-web">
        <div class="git">
          <div class="elemento-web">

            <h2>Proyecto Angular</h2>
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/67/Angular_gradient_logo.png/1200px-Angular_gradient_logo.png">

            <button class="btn btn-dark" (click)="toggleAngular()">Acceder al Proyecto</button>
            <div class="overlay-login" *ngIf="MostrarAngular" (click)="toggleAngular()">
              <div class="login-card" (click)="$event.stopPropagation()">
                <h3>Proyecto Angular</h3>
                <p>Selecciona una acción para continuar</p>

                <div class="button-group">
                  <a href="https://adrian116-code.github.io/Mi-Portafolio/" target="_blank" class="btn-href">Ver Git Hub</a>
                  <a href="https://github.com/Adrian116-code/Mi-Portafolio.git" target="_blank" class="btn-href outline">Ver Código
                    Source</a>
                </div><br />

                <button class="btn btn-secondary" (click)="toggleAngular()">Cancelar</button>
              </div>
            </div>
          </div> <br />
          
          <div class="elemento-web">
            <h2>Proyecto Spring Boot</h2>
            <img
              src="https://pnghdpro.com/wp-content/themes/pnghdpro/download/social-media-and-brands/spring-boot-logo-icon-hd.png">
            <button class="btn btn-dark" (click)="toggleSpring()">Acceder al Proyecto</button>
            <div class="overlay-login" *ngIf="MostrarSpring" (click)="toggleSpring()">
              <div class="login-card" (click)="$event.stopPropagation()">
                <h3>Proyecto Spring Boot</h3>
                <p>Selecciona una acción para continuar</p>

                <div class="button-group">
                  <a href="springboot.png" target="_blank" class="btn-href">Ver Git Hub</a>
                  <a href="https://github.com/Adrian116-code/Mi-Portafolio.git" target="_blank" class="btn-href outline">Ver Código
                    Source</a>
                </div><br />

                <button class="btn btn-secondary" (click)="toggleSpring()">Cancelar</button>
              </div>
            </div>
          </div>
          <div class="elemento-web">

            <h2>Proyecto Python</h2>
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Python-logo-notext.svg/2048px-Python-logo-notext.svg.png">

            <button class="btn btn-dark" (click)="togglePython()">Acceder al Proyecto</button>
            <div class="overlay-login" *ngIf="MostrarPython" (click)="togglePython()">
              <div class="login-card" (click)="$event.stopPropagation()">
                <h3>Proyecto Python</h3>
                <p>Selecciona una acción para continuar</p>

                <div class="button-group">
                  <a href="https://adrian116-code.github.io/Dashboard/" target="_blank" class="btn-href">Ver Git Hub</a>
                  <a href="https://github.com/Adrian116-code/Dashboard.git" target="_blank" class="btn-href outline">Ver Código
                    Source</a>
                </div><br />

                <button class="btn btn-secondary" (click)="togglePython()">Cancelar</button>
              </div>
            </div>
          </div> <br />
        </div>
      </div>
    </section>
  </div>
  <div class="certificados" id="certificados">
    <h1 class="title">Certificados</h1>
    <section class="git">
      <div class="elemento-web">
        <a class="certificados-a"
          href="https://drive.google.com/file/d/1y9DltKE-pp6-JLNUsktV__2KbfFvu-XM/view?usp=drive_link" target="_blank">Certificado
          Linux</a>
        <img src="https://images.vexels.com/media/users/3/140692/isolated/svg/72d1f12edf758d24f5b6db73bac4f297.svg">
      </div>
      <div class="elemento-web">
        <a class="certificados-a"
          href="https://drive.google.com/file/d/1VlgCwPq1cwJDmkWBw_-9pfhpDclSwNzk/view?usp=drive_link" target="_blank">Certificado
          HTML</a>
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/2048px-HTML5_logo_and_wordmark.svg.png">
      </div>
      <div class="elemento-web">
        <a class="certificados-a"
          href="https://drive.google.com/file/d/1MZGGsc9Sb9gMC6zApOBppYNaeBtvGWML/view?usp=drive_link" target="_blank">Certificado
          CSS</a><img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/CSS3_logo_and_wordmark.svg/1452px-CSS3_logo_and_wordmark.svg.png">
      </div>
      <div class="elemento-web">
        <a class="certificados-a"
          href="https://drive.google.com/file/d/1MH-VrN4y7uXoA3h_B467wz_cWYtIB7uZ/view?usp=drive_link" target="_blank">Certificado
          Icpna</a>
        <img src="https://iepalfrednobel.edu.pe/wp-content/uploads/2022/11/logo-icpna.png">
      </div>

    </section>

  </div>

  <footer style="display: flex;">
    <p style="font-size: 1em; " class="elemento-web">981 549 150</p>
    <p style="font-size: 1em; " class="elemento-web">delapuenteadrian3@gmail.com</p>
  </footer>