<header>
  <nav>
    <div class="logo">Mi Portafolio</div>

    <button class="menu-toggle" aria-label="Abrir menú" (click)="toggleMenu()">
      <i class="fas" [class.fa-bars]="!menuAbierto" [class.fa-times]="menuAbierto"></i>
    </button>

    <div class="nav-links" [class.active]="menuAbierto">
      <a class="menu-item" href="#inicio" (click)="toggleMenu()">Inicio</a>
      <a href="#proyectos" (click)="toggleMenu()">Proyectos</a>
      <a href="#experiencia"(click)="toggleMenu()">Experiencia</a>
      <a href="#certificados" (click)="toggleMenu()">Certificados</a>
      <a href="#formacion" (click)="toggleMenu()">Formación</a>
      <a href="#conocimientos" (click)="toggleMenu()">Conocimientos</a>
    </div>
  </nav>
</header>

<section id="inicio" class="hero">
  <div class="hero-content">
    <span class="badge">Estudiante de Ingeniería de Sistemas</span>
    <h1>Adrian De la Puente Huamaní</h1>
    <p>
      Enfocado en la <strong>Gestión e Infraestructura de TI</strong>, la optimización de sistemas y la administración
      de bases de datos. Combino experiencia en gestión con base técnica en <strong>Angular y Supabase</strong> para
      la entrega de soluciones tecnológicas eficientes.
    </p>
    <div class="cta-buttons">
      <a href="https://www.linkedin.com/in/adrian-jes%C3%BAs-de-la-puente-15246425b/" target="_blank"
        class="btn btn-secondary">
        <i class="fab fa-linkedin"></i> LinkedIn
      </a>
    </div>
  </div>
</section>

<section id="proyectos">
  <h2 class="section-title">Proyectos</h2>

  <div class="slider-wrapper">
    <swiper-container slides-per-view="1" space-between="20" breakpoints='{
        "768": {
          "slidesPerView": 3,
          "spaceBetween": 25
        }
      }' loop="true" navigation="true" pagination="true">

      <swiper-slide>
        <div class="carousel-card">

          <h3>Portafolio Profesional Web</h3>

          <div class="carousel-icon">
            <img src="https://upload.wikimedia.org/wikipedia/commons/6/67/Angular_gradient_logo.png" alt="Angular Logo">
          </div>

          <button class="btn-access" (click)="toggleAngular()">
            Acceder al Proyecto
          </button>

        </div>
      </swiper-slide>

      <swiper-slide>
        <div class="carousel-card">
          <h3>E-commerce Supabase</h3>
          <div class="carousel-icon">
            <img src="https://cdn.jsdelivr.net/gh/homarr-labs/dashboard-icons/webp/supabase.webp" alt="Supabase Logo">
          </div>
          <button class="btn-access" (click)="toggleSupabase()">
            Acceder al Proyecto
          </button>
        </div>
      </swiper-slide>

      <swiper-slide>
        <div class="carousel-card">
          <h3>Proyecto Unity</h3>
          <div class="carousel-icon">
            <img src="https://images.seeklogo.com/logo-png/27/2/unity-logo-png_seeklogo-274050.png" alt="Unity Logo">
          </div>
          <button class="btn-access" (click)="toggleUnity()">
            Acceder al Proyecto
          </button>
        </div>
      </swiper-slide>

      <swiper-slide>
        <div class="carousel-card">
          <h3>Proyecto Android</h3>
          <div class="carousel-icon">
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/55/Android_Studio_Logo_%282023%29.svg/3840px-Android_Studio_Logo_%282023%29.svg.png"
              alt="Android Studio Logo">
          </div>
          <button class="btn-access" (click)="toggleAndroid()">
            Acceder al Proyecto
          </button>
        </div>
      </swiper-slide>

    </swiper-container>

  </div>

  <div class="overlay-login" *ngIf="MostrarAngular" (click)="toggleAngular()">
    <div class="login-card" (click)="$event.stopPropagation()">
      <h3>Portafolio Profesional Web</h3>
      <p>Selecciona una acción para continuar</p>
      <div class="button-group">
        <a href="https://github.com/Adrian116-code/Mi-Portafolio" target="_blank" class="btn-href">
          Ver Código Source
        </a>
      </div>

      <button class="btn btn-secondary" (click)="toggleAngular()">
        Cancelar
      </button>
    </div>
  </div>

  <div class="overlay-login" *ngIf="MostrarSupabase" (click)="toggleSupabase()">

    <div class="login-card" (click)="$event.stopPropagation()">
      <h3>E-commerce Supabase</h3>
      <p>Selecciona una acción para continuar</p>
      <div class="button-group">
        <a href="https://github.com/Adrian116-code/proyecto-e-commerce-2026" target="_blank" class="btn-href">
          Ver Código Source
        </a>
      </div>
      <button class="btn btn-secondary" (click)="toggleSupabase()">
        Cancelar
      </button>
    </div>
  </div>

  <div class="overlay-login" *ngIf="MostrarUnity" (click)="toggleUnity()">
    <div class="login-card" (click)="$event.stopPropagation()">
      <h3>Proyecto Unity</h3>
      <p>Selecciona una acción para continuar</p>
      <div class="button-group">
        <a href="https://github.com/Adrian116-code/Retrojump" target="_blank" class="btn-href">
          Ver Código Source
        </a>
      </div>
      <button class="btn btn-secondary" (click)="toggleUnity()">
        Cancelar
      </button>
    </div>
  </div>

  <div class="overlay-login" *ngIf="MostrarAndroid" (click)="toggleAndroid()">
    <div class="login-card" (click)="$event.stopPropagation()">
      <h3>Proyecto Android</h3>
      <p>Selecciona una acción para continuar</p>
      <div class="button-group">
        <a href="https://github.com/Adrian116-code/Alcamen-Proyecto-Final" target="_blank" class="btn-href">
          Ver Código Source
        </a>
      </div>
      <button class="btn btn-secondary" (click)="toggleAndroid()">
        Cancelar
      </button>
    </div>
  </div>
</section>

<section id="experiencia">
  <h2 class="section-title">Experiencia</h2>
  <div class="timeline">
    <div class="timeline-item">
      <div class="timeline-header">
        <h3>Practicante de Sistemas</h3>
        <span class="date">Mar. 2026 - Jul. 2026</span>
      </div>
      <div class="sub">Protecta Perú</div>
      <p class="detail">
        Automatización de matrices de control en Excel y elaboración
        de esquemas de codificación técnica para activos e inventarios.
      </p>
    </div>
    <div class="timeline-item">
      <div class="timeline-header">
        <h3>Atención al Cliente y Gestión de Oficina</h3>
        <span class="date">Ene. 2024 - Mar. 2024</span>
      </div>
      <div class="sub">Negocio Familiar</div>
      <p class="detail">
        Digitalización del control de inventario y registro de ventas
        mediante herramientas de ofimática.
      </p>
    </div>
    <div class="timeline-item">
      <div class="timeline-header">
        <h3>Asistente de Marketing Digital y Edición</h3>
        <span class="date">Ene. 2023 - Mar. 2023</span>
      </div>
      <div class="sub">KefasArquitectos</div>
      <p class="detail">
        Gestión y actualización del catálogo digital de propiedades
        y mejora de la presentación visual del portafolio web.
      </p>
    </div>
  </div>
</section>

<section id="certificados">
  <h2 class="section-title">Certificados</h2>
  <div class="slider-wrapper">
    <swiper-container slides-per-view="1" space-between="20" breakpoints='{
          "768": {
            "slidesPerView": 3,
            "spaceBetween": 25
          }
        }' loop="true" navigation="true" pagination="true">

      <swiper-slide>
        <div class="carousel-card">
          <h3>Certificado Linux</h3>
          <div class="carousel-icon">
            <img src="https://images.vexels.com/media/users/3/140692/isolated/svg/72d1f12edf758d24f5b6db73bac4f297.svg"
              alt="Linux Logo">
          </div>
          <a href="https://drive.google.com/file/d/1y9DltKE-pp6-JLNUsktV__2KbfFvu-XM/view?usp=drive_link"
            target="_blank" class="btn-access">
            Ver Certificado
          </a>
        </div>
      </swiper-slide>

      <swiper-slide>
        <div class="carousel-card">
          <h3>Certificado HTML</h3>
          <div class="carousel-icon">
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/500px-HTML5_logo_and_wordmark.svg.png"
              alt="HTML5 Logo">
          </div>
          <a href="https://drive.google.com/file/d/1VlgCwPq1cwJDmkWBw_-9pfhpDclSwNzk/view?usp=drive_link"
            target="_blank" class="btn-access">
            Ver Certificado
          </a>
        </div>
      </swiper-slide>

      <!-- Certificado CSS -->
      <swiper-slide>
        <div class="carousel-card">
          <h3>Certificado CSS</h3>
          <div class="carousel-icon">
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/CSS3_logo_and_wordmark.svg/250px-CSS3_logo_and_wordmark.svg.png"
              alt="CSS3 Logo">
          </div>
          <a href="https://drive.google.com/file/d/1MZGGsc9Sb9gMC6zApOBppYNaeBtvGWML/view?usp=drive_link"
            target="_blank" class="btn-access">
            Ver Certificado
          </a>
        </div>
      </swiper-slide>

      <swiper-slide>
        <div class="carousel-card">
          <h3>Certificado ICPNA</h3>
          <div class="carousel-icon">
            <img src="https://iepalfrednobel.edu.pe/wp-content/uploads/2022/11/logo-icpna.png" alt="ICPNA Logo">
          </div>
          <a href="https://drive.google.com/file/d/1MH-VrN4y7uXoA3h_B467wz_cWYtIB7uZ/view?usp=drive_link"
            target="_blank" class="btn-access">
            Ver Certificado
          </a>
        </div>
      </swiper-slide>

    </swiper-container>
  </div>
</section>

<section id="formacion">
  <h2 class="section-title">Formación Académica</h2>
  <div class="timeline">

    <div class="timeline-item">
      <div class="timeline-header">
        <h3>Ingeniería de Sistemas</h3>
        <span class="date">2022 - 2026</span>
      </div>
      <div class="sub">Universidad Privada del Norte (UPN)</div>
      <p class="detail">10mo Ciclo</p>
    </div>

    <div class="timeline-item">
      <div class="timeline-header">
        <h3>Inglés Avanzado</h3>
        <span class="date">2020 - 2023</span>
      </div>
      <div class="sub">I.C.P.N.A</div>
      <p class="detail">Nivel: Avanzado Completo</p>
    </div>

    <div class="timeline-item">
      <div class="timeline-header">
        <h3>Educación Secundaria</h3>
        <span class="date">2017 - 2021</span>
      </div>
      <div class="sub">I.E.P.G.P General Emilio Soyer Cabero</div>
      <p class="detail">Primeros Puestos 2017</p>
    </div>

  </div>
</section>

<section id="conocimientos">
  <h2 class="section-title">Conocimientos Técnicos</h2>

  <div class="skills-grid">
    <div class="skill-card">
      <i class="fab fa-angular"></i>
      <h3>Frontend</h3>
      <p>Angular, TypeScript, HTML5, CSS3, JavaScript</p>
    </div>
    <div class="skill-card">
      <i class="fas fa-database"></i>
      <h3>Backend & BD</h3>
      <p>Supabase, MySQL, Firebase</p>
    </div>
    <div class="skill-card">
      <i class="fas fa-code-branch"></i>
      <h3>Herramientas & Deploy</h3>
      <p>Git, GitHub Pages, Cloudflare Pages, VS Code</p>
    </div>
    <div class="skill-card">
      <i class="fas fa-mobile-alt"></i>
      <h3>Móvil & Otros</h3>
      <p>Android Studio, Unity</p>
    </div>
  </div>

</section>

<footer>
    <p style="font-size: 1em; " class="elemento-web">981 549 150</p>
    <p style="font-size: 10m;" class="elemento-web">Chorrillos, Lima, Perú</p>
    <p style="font-size: 1em; " class="elemento-web">delapuenteadrian3@gmail.com</p>
</footer>